@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: #f9fafb
}

.side-container {
    background: url(/background.jpg) center no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 30%);
    margin-top: 20vh;
}

.logo img {
    height: 100px;
    width: auto;
}

.logo span {
    font-family: 'norsebold';
    font-size: 4em;
    color: white;
    font-weight: normal;
    font-style: normal;
}

.copyright {
    background-color: rgba(0, 0, 0, 30%);
    color: white;
    text-align: center;
    font-size: small;

}

.copyright a {
    color: white;
}







.main-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-description,
.footer {
    max-width: 50vw;
    padding-left: 40px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.2);
    background-color: white;
}

label {
    font-weight: 700;
    margin-bottom: 3px;
}

input {
    max-width: 300px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    border: 1px solid;
    border-radius: 3px;
    height: 2em;
}

.form-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    
}

.form-inputs div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button[type="submit"] {
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 30px;
    background-color: #4a8dae;
    color: white;
    border-radius: 10px;
    font-size: 1em;
}

label {
    text-transform: uppercase;
    font-size: small;
}



